
/* font styles */
/* font-family: 'DynaPuff', cursive;         // normal text 
font-family: 'Rubik Burned', cursive;       // outline text
font-family: 'Rubik Dirt', cursive;        // solid with holes
font-family: 'Rubik Distressed', cursive; // solid with a lot of holes */

*{
    font-family: 'DynaPuff', cursive; 
}

body{
    background: radial-gradient(ellipse at bottom, #1b2735 , #090a0f 100%);
    background-repeat: no-repeat;
    background-color: #45a8ff;
    height:max-content;
}

.site_name{
    font-family: 'Rubik Dirt', cursive; 
    font-size: 25px;
}

.fa-bars{
    color: white;
}

.search_bar{
    background-color: #e0e0e0;
    border-color: black;
}

.search_bar:focus{
    border: solid 2px blue;
}

.reflexive_button{
    display: none;
    color: white;
}

.reflexive_button:hover{
    color: white;
    background-color: #0d6efd;
    transition: all 0.2s ease-in;
}

.modal-content{
    background: radial-gradient(ellipse at bottom ,#000428  ,#004e92 100%);
    border: 1px solid white;
    box-shadow: 0px 0px 10px white,
                0px 0px 20px white;
  }

.modal{
    backdrop-filter: blur(1px);
}

a{
    cursor: default;
}

.place__holder__image{
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 990px){
    .site_name{
        font-family: 'Rubik Burned', cursive; 
        font-size: 25px;
    }

    .reflexive_button{
        display: block;
    }
}
